body {
  font-family:serif;
  background-image: url(http://cdn.hitfix.com/photos/6229486/Breaking-Bad-Hair-Art_article_story_large.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

h1 {
  font-size: 5em;
  color: #274F20;
}
h2 {
  font-size: 4vw;
  color: white;
}
button {
  font-family: serif;
  background-color: pink;
  font-size: 2em;
}
main {
  margin-top: 15em;
}
